<div class="container mt-5 d-flex flex-column justify-content-center">
    <p class="text-center">We'd love to hear from you! Have feedback for us? Send it our way at <a href = "mailto:mlodds@proton.me">mlodds@proton.me</a>
    <br>This site is not related to gambling, money transfers, or trading. It's for fans to predict the outcome of Marble League matches and share their excitement with others.</p>
</div>